{
  "env": {
    "production": {
    "presets": ["es2015", "stage-0", "react"],
    "plugins": [
        "transform-runtime",
        "transform-es2015-modules-commonjs",
        "transform-react-constant-elements"
     ]
    },
    "development": {
    "presets": ["es2015", "stage-0", "react"],
    "plugins": [
        "transform-runtime",
        "transform-es2015-modules-commonjs",
        "transform-react-constant-elements"
     ]
    }
  }
}
