doctype html
html
  include ./partials/header.pug
  body
    include ./partials/navbar.pug
    .container
      .row
        .col-md-3
          #sidebar.list-group
            a.list-group-item(href='#') Account
            a.list-group-item(href='#') Preferences
            a.list-group-item(href='#') Connections
            a.list-group-item(href='#') Notifications
            a.list-group-item(href='#') API
        .col-md-9
          h2 Profile
          form(action='/login', method='post')
            .form-group
              label Name
              input.form-control(type='text', name='name')
            .form-group
              label Email
              input.form-control(type='text', name='email')
            .form-group
              label Password
              input.form-control(type='password', name='password')
          hr.col-md-12
          h2 Teams
          p View and Leave Teams.
          hr.col-md-12
          h2 Account
          p Account Type.
  
          button.btn.btn.btn-primary(type='submit') Save
        .span9

    include ./partials/footer.pug
